body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #e9c46a;
  font-family: "Open Sans", sans-serif;
}

header {
  margin-bottom: 2rem;
  border-bottom: solid 8px #2a9d8f;
  padding: 1em;
  background-color: #264653;
  color: #f4a261;
  text-align: center;
}

main {
  padding: 1em;
  background-color: #ebd294;
}

footer {
  margin-top: 2rem;
  border-top: solid 8px #f4a261;
  padding: 1em;
  text-align: center;
  background-color: #e76f51;
}

button {
  height: 3em;
  margin: 0 0 1rem;
  font-family: "Luckiest Guy", cursive;
  font-size: 1em;
  background-color: #f4a261;
  color: #264653;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
button:hover {
  background-color: #e76f51;
  transition: background-color 2s;
}
button:active {
  color: #e9c46a;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-size: 3em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#formButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  header {
    text-align: left;
  }
  #form_submit {
    width: 50%;
  }
  #formButtons {
    display: block;
  }
  #download_lib {
    width: fit-content;
    float: right;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin: auto;
    padding: 1em 2em;
    max-width: 1000px;
  }
}
